<%= simple_form_for [@survey,@question], :html => { :class => '' } do |f| %>
  <%= f.association :question_type, label_method: :type_name, value_method: :id %>
  <br>
  <%= f.hidden_field :survey_id, :value => params[:survey_id] %>
  <label>* Question Text:</label>
  <%= f.text_area :question_text, :style=>'width:300px;height:100px' %>
  <br><br>
  <%= f.association :confirmation_for_question, collection: @survey.questions, label_method: lambda { |q| "#{q.order_num+1 unless q.order_num.nil?} - #{truncate(q.question_text, length: 75)}" } %>
  <%= f.label :confirmation_for_question, 'Use as input confirmation for the following question', :class => 'inline checkbox', :style => 'margin-left:0px;padding-left:0px' %>
  <br><br>
  <%= f.input_field :required_field, :as => :boolean, :class => 'inline checkbox' %>
  <%= f.label :required_field, 'Is a Required Field', :class => 'inline checkbox', :style => 'margin-left:0px;padding-left:0px' %>
  <br><br>
  <%= f.input_field :is_email, :as => :boolean, :class => 'inline checkbox' %>
  <%= f.label :is_email, 'Is an Email Address Field', :class => 'inline checkbox', :style => 'margin-left:0px;padding-left:0px' %>
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                survey_path(params[:survey_id]), :class => 'btn' %>
  </div>
<% end %>
