<%= simple_form_for [@survey,@question], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.association :question_type, label_method: :type_name, value_method: :id %>
  <br>
  <%= f.association :survey, label_method: :survey_name, value_method: :id %>
  <br>
  <label>Question Text:</label>
  <%= f.text_area :question_text, :style=>'width:300px;height:100px' %>
  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                survey_questions_path(params[:survey_id]), :class => 'btn' %>
  </div>
<% end %>
