<%- model_class = Survey -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:survey_name) %></th>
      <th><%= model_class.human_attribute_name(:created_on) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td>
          <%= survey.id %>
        </td>
        <td><%= survey.survey_name %></td>
        <td><%= survey.created_at.strftime("%B %d, %Y") %></td>
        <td>
          <%= link_to 'Open',
              survey_open_path(survey), :class => 'btn btn-mini btn-primary' %>
          <%= link_to 'View Responses',
                      survey_survey_responses_path(survey), :class => 'btn btn-mini' %>
          <% if current_user.email == 'jose@impdigital.us' %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        survey_path(survey), :class => 'btn btn-mini' %>
            <%= link_to t('.rename', :default => t("helpers.links.rename")),
                        edit_survey_path(survey), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        survey_path(survey),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.email == 'jose@impdigital.us' %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_survey_path,
              :class => 'btn btn-primary' %>
<% end %>