<%- model_class = Survey -%>
<div class="page-header">
  <h1><%= @survey.survey_name %></h1>
</div>

<div>
  <%= @survey.intro_text %>
</div>

<div class="survey_form_wrapper">
  <%= simple_form_for @survey_resp, :url => survey_submit_response_path(@survey), :method => :post do |f| %>
    <ol>
      <%= simple_fields_for :survey_responses do |resp_form| %>
        <% @survey.questions.each do |question| %>
          <li>
            <dt><%= question.question_text %></dt>
          </li>
          <li class="unstyled">
            <dd>
            <% if question.question_type.single_option? %>
              <ul class="unstyled">
              <% question.answer_options.each do |option| %>
                <li>
                <%= resp_form.radio_button question.id.to_s, option.option_text, :label_value => option.option_text %>
                </li>
              <% end %>
              </ul>
            <% elsif question.question_type.single_option? %>
            
              
            
            
            <% end %>
            </dd>
          
          </li>
        <% end %>
      <% end %>
    </ol>
    <div class="divider"></div>
      <div class="divider"></div>
    <p>
      <%= f.button :submit, :class => 'btn-primary', :value => "Submit" %>
    </p>
  <% end %>

</div>