<%- model_class = Survey -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:survey_name) %>:</strong></dt>
  <dd><%= @survey.survey_name %><br><br></dd>
  <dt><strong><%= model_class.human_attribute_name(:intro_text) %>:</strong></dt>
  <dd><%= @survey.intro_text %><br><br></dd>
  <dt><strong><%= model_class.human_attribute_name(:thank_you_text) %>:</strong></dt>
  <dd><%= @survey.thankyou_text %></dd>
</dl>

<h3>Questions:</h3>

<input type='button' id='reorder_btn' value="Reorder Items" class="btn btn-secondary" autocomplete="off" />
<br>
<br>

<table class="table table-striped items-table">
  <tr>
    <th width="150px">Type</th>
    <th>Text</th>
    <th width="150px"></th>
  </tr>
  <% @survey.questions.each do |question| %>
    <tr>
      <td><%= question.question_type.type_name %></td>
      <td><%= truncate(question.question_text, :length => 200, :separator => " ") %></td>
      <td>
          <%= link_to t('.view', :default => t("helpers.links.view")),
              survey_question_path(params[:id],question), :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_survey_question_path(params[:id],question), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      survey_question_path(params[:id],question),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        
      </td>
    </tr>
  <% end %>
</table>

<ul class="sortable inline-block">
  <% @survey.questions.each do |question| %>
    <li class="icon-resize-vertical listing-item" id="<%= question.id %>">&nbsp;&nbsp;<%= question.question_text %><br></li>
  <% end %>
</ul>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
      surveys_path, :class => 'btn' %>
  &nbsp;&nbsp;
  | 
  &nbsp;&nbsp;
  <%= link_to t('.add_question', :default => t("helpers.links.add_question")),
              new_survey_question_path(params[:id]), :class => 'btn btn-primary'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_survey_path(@survey), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              survey_path(@survey),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
