<%= simple_form_for [@survey, @question, @answer_option], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :option_text %>
  <%= f.hidden_field :question_id, :value => params[:question_id] %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                survey_question_path(@survey.id, @question.id), :class => 'btn' %>
  </div>
<% end %>
